# Compiled class files
*.class
target/

# Log files
*.log

# IntelliJ and VS Code settings
.idea/
.vscode/

# Maven output
/target/
/logs/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
